alias cdfe="cd ~/repos/trendkite-front-end"
alias cdwa="cd ~/repos/trendkite-grails3/webapp/src/main/webapp"
alias zshrc="vim ~/.zshrc && source ~/.zshrc"
alias vimrc="vim ~/.vimrc"
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
